<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>MINISTERIO DE EDUCACION DE TUCUMAN</h2> - 
            <h3>(1 año y 6 meses)</h3></li>
            <p>Durante el Programa CONECTAR IGUALDAD como “administrador de red” realizando gestiones de control,capacitacion y
                reparaciones de las netbooks tanto de software como de hardware 
                en las escuelas de nivel secundario.</p>
        </ul>
        <ul>
            <li><h2>DIRECT TV - TUCUMAN</h2> - 
            <h3>2014 - (3 Meses)</h3></li>
            <p>Técnico instalador en “Directv S.A.” (Base directa-Jujuy 1950 SAN 
                MIGUEL DE TUCUMAN) en un contrato temporal de 3 meses en 
                época del mundial de futbol debido a la alta demanda. Consistía 
                en la instalación del servicio brindado por la empresa (conexión de antena, 
                decodificador, cableado y configuración de equipos). </p>
        </ul>
        <ul>
            <li><h2>TECOTEX SACIFIyA – TUCUMAN, LULES </h2> - 
            <h3>2015(4 meses)</h3></li>
            <p>Supervisor de mantenimiento eléctrico, 3 Técnicos Eléctricos a cargo. Realizábamos 
                mantenimiento correctivo y predictivo. Gestion de Horarios para tareas especificas, configuracion , reparacion y puesta en marcha de las maquinas de hilado </p>
        </ul>
        <ul>
            <li><h2>TOYOTA AUTOLUX JUJUY</h2> - 
            <h3>2016(8 meses)</h3></li>
            <p>En la concesionaria Toyota Autolux Jujuy en el área de sistemas de 
                comunicación, como INGENIERO de HARDWARE, manejo de redes de computación,                
                control de la misma mediante servidores y routers Mikrotik .Reparación de equipos 
                electrónicos, UPS, armado de racks. Control de redes LAN y WLAN. 
                Mantenimiento del sistema CCTV en las concesionarias de Autolux- Toyota, 
                AutosolVolskvawen y Autociel-Peugeot </p>
        </ul>
        <ul>
            <li><h2>KAIZEN INGENIERIA SRL</h2> - 
            <h3>2017(9 meses)</h3></li>
            <p>Planificación de construcción y mantenimiento de los sistemas eléctricos en las 
                mineras.Manejo de personal . En el periodo más fuerte de las 
                construcciones eléctricas he llegado a tener como personal a cargo a 30 técnicos, entre 
                ellos técnicos soldadores, instrumentistas, tableristas y dos supervisores eléctricos.Confección de planillas para dirección, capacitación y archivado de cursos 
                internos para el personal a cargo. Aplicación de las 5S, 5 reglas de oro, manejo correcto de 
                herramientas con su equipo de seguridad. </p>
        </ul>
        <ul>
            <li><h2>ING RAMON RUSSO</h2> - 
            <h3>2017(9 meses)</h3></li>
            <p>Planificación de construcción y mantenimiento de los sistemas eléctricos en las 
                mineras.Manejo de personal . En el periodo más fuerte de las 
                construcciones eléctricas he llegado a tener como personal a cargo a 30 técnicos, entre 
                ellos técnicos soldadores, instrumentistas, tableristas y dos supervisores eléctricos.Confección de planillas para dirección, capacitación y archivado de cursos 
                internos para el personal a cargo. Aplicación de las 5S, 5 reglas de oro, manejo correcto de 
                herramientas con su equipo de seguridad. </p>
        </ul>

    </div>

</div>
