<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>APP DEL CLIMA</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio repellat reprehenderit placeat hic rem quam sunt maiores, voluptate deleniti molestias libero quasi consequatur maxime incidunt ex eos eveniet voluptatem suscipit.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/clima.png" class="img-fluid img-proyecto" >
        </div>
    </div>

</div>
